@charset "UTF-8";
@font-face {
    font-family: 'GrindDeath';
    src: url(fontes/GrindAndDeath_Demo.ttf);
}


header {
    padding: 2%;
    background-color: aquamarine;
}
header a {
    font-family: 'GrindDeath';
    text-align: center;
    text-decoration: none;
    color: black;
}
header a:hover {
    font-family: 'GrindDeath';
    color: #be1b1b;
    text-shadow: 2px 2px 2px #550a0a;
}


form {
    margin: 1.5% auto;
    width: 70%;
    padding: 2%;
    background-color: #9823ce3f;
    border-radius: 23px;
}
form:hover {
    background-color: #9823cec5;
}
